#!/usr/bin/make -f
APPNAME := test-definition
builddir:
	#mkdir -p builddir

builddir/Makefile: builddir
	#nada

build: build-stamp
	#nada

build-stamp: builddir/Makefile
	dh_testdir	
	touch $@
clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	#rm -rf builddir
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	#cd builddir && $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/$(APPNAME) install
	install -d $(CURDIR)/debian/$(APPNAME)/usr/share/$(APPNAME)/
	install -m 644 src/data/testdefinition-syntax.xsd $(CURDIR)/debian/$(APPNAME)/usr/share/$(APPNAME)/
	install -m 644 src/data/testdefinition-tm_terms.xsd $(CURDIR)/debian/$(APPNAME)/usr/share/$(APPNAME)/
	install -m 644 src/data/testdefinition-results.xsd $(CURDIR)/debian/$(APPNAME)/usr/share/$(APPNAME)/
	install -d $(CURDIR)/debian/$(APPNAME)/usr/share/man/man5/
	groff -man -Tascii src/doc/test-definition.man > $(CURDIR)/debian/$(APPNAME)/usr/share/man/man5/test-definition.5

binary-arch:
	#nada

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	#dh_fixperms
	dh_installdeb
	dh_install
	#dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
